@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Montserrat;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: url(Images/glav.jpeg);
  height: 735px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__slogan {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
}
.top__link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  text-decoration-line: underline;
  text-decoration: none;
  margin-top: 16px;
}
.top__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 64px;
}

.top__link:hover {
  color: #000000;
  text-decoration: underline;
}

.heading {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 64px;
  margin-bottom: 32px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 77px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header__input {
  font-family: Montserrat;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: normal;
  height: 41px;
  width: 288px;
  font-size: 20px;
  line-height: 18px;
  color: white;
  background: transparent;
  padding-left: 32px;
  padding-right: 32px;
  border-color: #FFFFFF;
}

.header__input::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.header__input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.menu {
  position: relative;
  display: flex;
  gap: 32px;
}
.menu-mob {
  display: none;
}

.menu__link_interactive:hover .container-index,
.menu__link_interactive:hover + .container-index,
.container-index:hover {
  display: block;
}

.menu__link_interactive::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 66px;
  background-color: transparent;
  pointer-events: none;
}

.menu__link_interactive:hover::after,
.container-index:hover {
  pointer-events: auto; /* Включаем события мыши для моста и окна */
}

.menu__link_interactive::after {
  cursor: default;
}

.container-index {
  cursor: pointer;
}

.menu__link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  text-decoration-line: underline;
  text-decoration: none;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  grid-column: span 4;
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.for__item_1 {
  background-image: url(Images/section-1.jpeg);
}

.for__item_2 {
  background-image: url(Images/section-2.jpeg);
}

.for__item_3 {
  background-image: url(Images/section-3.jpeg);
}

.for__item_4 {
  background-image: url(Images/section-4.jpeg);
}

.for__item_5 {
  background-image: url(Images/section-5.jpeg);
}

.for__item_big {
  grid-column: span 6;
}

.special-offers {
  flex-wrap: wrap;
  display: flex;
  gap: 32px;
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
}

.product__name {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 9px;
}

.product__unit {
  width: 100%;
}

.unit {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
}

.product__description {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 7px;
  margin-bottom: 12px;
}

.product__box-price {
  display: flex;
  gap: 32px;
}

.product__price {
  color: rgb(5, 5, 5);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 12px;
}

.product__price_sale {
  color: rgb(136, 136, 136);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  text-decoration-line: line-through;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 12px;
}

h4 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
}

.footer-background {
  background: rgb(247, 246, 246);
  margin-top: 64px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 32px;
}

.footer__menu-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}

.footer__contacts-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}

.footer__info {
  gap: 129px;
  display: flex;
}

.logo-footer {
  width: 198px;
  height: 44px;
}

.footer__links {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__contacts {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__link {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
}

.footer__link:hover {
  color: #000000;
}

.footer__news {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  text-align: left;
}

.footer__subscription {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__pochta {
  padding-left: 17px;
  padding-right: 17px;
  border: 1px solid #C4C4C4;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
  height: 40px;
  width: 260px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

.footer__pochta::-moz-placeholder {
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  text-align: left;
  font-family: inherit;
}

.footer__pochta::placeholder {
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  text-align: left;
  font-family: inherit;
}

.footer__subscribe {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
  width: 260px;
  height: 40px;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

.footer__subscribe::after {
  pointer-events: none;
  cursor: pointer !important;
}

.name-box__quantity {
  padding-right: 27px;
}

.border {
  margin-right: 64px;
  margin-left: 27px;
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  background: transparent;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-top: 18px;
}
.buttons__clear, .buttons__continue {
  font-family: Montserrat;
  box-sizing: border-box;
  width: 200px;
  height: 37px;
  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.buttons__clear:hover, .buttons__continue:hover {
  background-color: black;
  color: white;
}

.number {
  border: none;
  height: 51px;
  width: 71px;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 6px;
  background: rgb(247, 246, 246);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.footer__social-icon:hover path {
  fill: #000000;
}

.footer__social-icon path {
  transition: all 1.25s;
}

.footer__subscribe {
  cursor: pointer !important;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.footer__subscribe:hover {
  background-color: black;
  color: white;
}

.container-index {
  position: absolute;
  width: 573px;
  height: 480px;
  top: 66px;
  right: 0;
  display: none;
}

.index-cart__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 48px 40px 48px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
}

.index-cart-item {
  border-bottom: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 48px;
}
.index-cart-item__img {
  width: 144px;
  height: 144px;
}
.index-cart-item__price {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}
.index-cart-item_height {
  border: none;
}
.index-cart-item__left {
  gap: 24px;
  display: flex;
}

.index-cart-interactive {
  align-items: center;
  display: flex;
  gap: 30px;
}
.index-cart-interactive__favourites, .index-cart-interactive__delete {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-decoration-line: underline;
}

.index-cart-total {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.index-form-data__total {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -3%;
  text-align: start;
}

.index-form-data__money {
  font-weight: 500;
}

.index-form-data__button {
  font-family: Montserrat;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  height: 40px;
  width: 207px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.index-cart-interactive__delete:hover, .index-cart-interactive__favourites:hover {
  color: #888888;
  text-decoration: none;
}

.index-form-data__button:hover {
  background-color: black;
  color: white;
}

.top_catalog {
  background-image: url(Images/glav-catalog.jpeg);
  height: 400px;
}

.top__title_catalog {
  margin-top: 127px;
}

.catalog-link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 40px;
  margin-bottom: 64px;
}

.catalog-link:hover {
  text-decoration: none;
  color: #888888;
}

.catalog-more {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 40px;
  margin-bottom: 64px;
}

.catalog-box {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  margin-bottom: 32px;
}

.catalog-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 64px;
  flex-wrap: wrap;
}

.position {
  display: flex;
  gap: 10px;
  align-items: center;
}

.position__unit {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
}

.interaction {
  display: flex;
  gap: 10px;
}

.filters, .filters-2 {
  font-family: Montserrat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  padding-left: 23px;
  padding-right: 23px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  width: 182px;
  background-image: url(Images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.filters-2 {
  width: 227px;
  font-weight: 400;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
}

.filters_mob {
  display: none;
}

.filters-2:hover {
  background-color: black;
  color: white;
}

.filters-2 option {
  background-color: white;
  color: black;
}

option {
  background-color: transparent;
}

.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 182px;
}

.filter-button-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.filter-button {
  background-color: #fff;
  font-weight: 500;
  text-align: start;
  max-width: 182px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.filter-button:hover {
  background-color: black;
  color: white;
}

.filtering-form {
  cursor: default;
  max-width: 544px;
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background-color: #fff;
  box-shadow: 0px 4px 67px -12px rgba 0, 0, 0, 0.32;
  padding: 40px 48px;
}

.filtering-form__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px 65px;
  max-height: 548px;
  min-width: 540px;
}

.filtering-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  border: none;
  max-width: 190px;
}

.filtering-form__fieldset_type {
  margin-right: 48px;
}

.filtering-form__legend {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.filtering-form__button-box {
  position: static;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 32;
  padding: 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.filtering-form__button {
  border: 1px solid #000;
  border-radius: 20px;
  min-height: 40px;
  font: inherit;
  padding: 10px 23px;
  background-color: #fff;
  position: relative;
  width: 190px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 10px 76px 10px 76px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.filtering-form__span {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.filtering-form__button:hover {
  background-color: black;
  color: white;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio__input {
  display: none;
}

.radio__label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  cursor: pointer;
}

.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.radio__input:checked + .radio__label::before {
  border-color: black;
  background-image: url(Images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 190px;
}

.range__input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}

.range__input,
.range__input::-webkit-slider-runnable-trackm,
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}

.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  z-index: 1;
}

.range__input::-webkit-slider-thumb {
  z-index: 2;
}

.range__slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
}

.range__slider input {
  position: absolute;
  cursor: pointer;
}

.range__label {
  font-size: 14px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}

.color-options__checkbox {
  width: 15px;
  height: 15px;
}

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__input {
  display: none;
  border-color: black;
}

.checkbox__label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  font-style: 14px;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.checkbox__label:active {
  border-color: #000;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url(Images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}

.checkbox__label_white::before {
  background-color: #fff;
  border-color: #9c9696;
}

.checkbox__label_black::before {
  background-color: #000;
  border-color: #000;
}

.checkbox__label_gray::before {
  background-color: gray;
  border-color: gray;
}

.checkbox__label_red::before {
  background-color: red;
  border-color: red;
}

.checkbox__label_orange::before {
  background-color: orange;
  border-color: orange;
}

.checkbox__label_yellow::before {
  background-color: yellow;
  border-color: yellow;
}

.checkbox__label_green::before {
  background-color: green;
  border-color: green;
}

.checkbox__label_teal::before {
  background-color: teal;
  border-color: teal;
}

.checkbox__label_light-blue::before {
  background-color: lightblue;
  border-color: lightblue;
}

.checkbox__label_blue::before {
  background-color: blue;
  border-color: blue;
}

.checkbox__label_purple::before {
  background-color: purple;
  border-color: purple;
}

.checkbox__label_violet::before {
  background-color: violet;
  border-color: violet;
}

.checkbox__label_pink::before {
  background-color: pink;
  border-color: pink;
}

.checkbox__input:checked + .checkbox__label_black::before,
.checkbox__input:checked + .checkbox__label_blue::before,
.checkbox__input:checked + .checkbox__label_purple::before {
  background-image: url(Images/white-arrow.svg);
}

summary {
  list-style-type: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

summary::-webkit-details-marker {
  display: none;
}

.catalog-more:hover {
  text-decoration: none;
  color: #888888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 182px;
}

.filter-button-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.filter-button {
  background-color: #fff;
  font-weight: 500;
  text-align: start;
  max-width: 182px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.filter-button:hover {
  background-color: black;
  color: white;
}

.filtering-form {
  cursor: default;
  max-width: 544px;
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background-color: #fff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
}

.filtering-form__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px 65px;
  max-height: 548px;
  min-width: 540px;
}

.filtering-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0;
  border: none;
  max-width: 190px;
}

.filtering-form__fieldset_type {
  margin-right: 48px;
}

.filtering-form__legend {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.filtering-form__button-box {
  position: static;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 32;
  padding: 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.filtering-form__button {
  border: 1px solid #000;
  border-radius: 20px;
  min-height: 40px;
  font: inherit;
  padding: 10px 23px;
  background-color: #fff;
  position: relative;
  width: 190px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 10px 76px 10px 76px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.filtering-form__span {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.filtering-form__button:hover {
  background-color: black;
  color: white;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio__input {
  display: none;
}

.radio__label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  cursor: pointer;
}

.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.radio__input:checked + .radio__label::before {
  border-color: black;
  background-image: url(Images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 190px;
}

.range-box {
  display: flex;
  gap: 14px;
}

.range__input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}

.range__input,
.range__input::-webkit-slider-runnable-trackm,
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}

.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  z-index: 1;
}

.range__input::-webkit-slider-thumb {
  z-index: 2;
}

.range__slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
}

.range__slider input {
  position: absolute;
  cursor: pointer;
}

.range-box__label {
  font-size: 14px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}

.color-options__checkbox {
  width: 15px;
  height: 15px;
}

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__input {
  display: none;
  border-color: black;
}

.checkbox__label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  font-style: 14px;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.checkbox__label:active {
  border-color: #000;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url(Images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}

.checkbox__label_white::before {
  background-color: #fff;
  border-color: #9c9696;
}

.checkbox__label_black::before {
  background-color: #000;
  border-color: #000;
}

.checkbox__label_gray::before {
  background-color: gray;
  border-color: gray;
}

.checkbox__label_red::before {
  background-color: red;
  border-color: red;
}

.checkbox__label_orange::before {
  background-color: orange;
  border-color: orange;
}

.checkbox__label_yellow::before {
  background-color: yellow;
  border-color: yellow;
}

.checkbox__label_green::before {
  background-color: green;
  border-color: green;
}

.checkbox__label_teal::before {
  background-color: teal;
  border-color: teal;
}

.checkbox__label_light-blue::before {
  background-color: lightblue;
  border-color: lightblue;
}

.checkbox__label_blue::before {
  background-color: blue;
  border-color: blue;
}

.checkbox__label_purple::before {
  background-color: purple;
  border-color: purple;
}

.checkbox__label_violet::before {
  background-color: violet;
  border-color: violet;
}

.checkbox__label_pink::before {
  background-color: pink;
  border-color: pink;
}

.checkbox__input:checked + .checkbox__label_black::before,
.checkbox__input:checked + .checkbox__label_blue::before,
.checkbox__input:checked + .checkbox__label_purple::before {
  background-image: url(Images/white-arrow.svg);
}

summary {
  list-style-type: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

summary::-webkit-details-marker {
  display: none;
}

@media (max-width: 1024px) {
  .filtering-form {
    right: -234px;
  }
}
@media (max-width: 767px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .filtering-form {
    max-width: 286px;
    right: -104px;
  }
  .filtering-form__content-wrapper {
    max-width: 190px;
  }
  .filtering-form__content-wrapper {
    flex-wrap: nowrap;
    max-height: 1000px;
    min-width: 287px;
  }
}
.top_cart {
  height: 400px;
  background-image: url(Images/topcart.jpeg);
}

.top__title_cart {
  margin-top: 127px;
}

.special-offers_cart {
  padding-bottom: 32px;
}

.catalog-link_cart {
  padding-bottom: 64px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.cart__content {
  grid-column: span 8;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 14px;
}

.cart-item {
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.cart-item__img {
  height: 173px;
  width: 173px;
}
.cart-item_height {
  padding-top: 32px;
}
.cart-item__text {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
}
.cart-item__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart-item__left {
  display: flex;
  gap: 32px;
}
.cart-item__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
}
.cart-item__text {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
}
.cart-item__price {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}

.cart__form {
  grid-column: span 4;
  margin-top: 64px;
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 556px;
}

.form__title {
  margin-bottom: 0px;
  padding-top: 42px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

.form-data {
  display: flex;
  flex-direction: column;
}
.form-data__name, .form-data__number, .form-data__address {
  padding-top: 43px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  outline: none;
  font-family: inherit;
}
.form-data__name {
  padding-top: 36px;
}
.form-data__total {
  color: rgb(0, 0, 0);
  padding-top: 64px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  font-weight: normal;
}
.form-data__button {
  font-family: Montserrat;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  height: 41px;
  width: 290px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.form-data__money {
  font-weight: 500;
}

.form-data__button:hover {
  background-color: black;
  color: white;
}

.cart-total {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

.cart-interactive {
  align-items: center;
  display: flex;
  gap: 30px;
}
.cart-interactive__favourites, .cart-interactive__delete {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-decoration-line: underline;
}

.cart-interactive__delete:hover, .cart-interactive__favourites:hover {
  color: #888888;
  text-decoration: none;
}

@media (max-width: 833px) {
  .footer__subscribe {
    cursor: pointer !important;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 1024px) {
  .filtering-form {
    right: -234px;
  }
  .footer__subscribe {
    cursor: pointer !important;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product {
    width: 378px;
  }
  .catalog-box {
    gap: 30px;
  }
  .product__unit {
    width: 100%;
  }
  .logo-footer {
    display: none;
  }
  .cart {
    display: flex;
    flex-direction: column;
  }
  .cart__form {
    width: 376px;
    height: 556px;
  }
  .special-offers {
    gap: 29px;
  }
}
@media (max-width: 767px) {
  .filters_mob:hover {
    background-color: black;
    color: white;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .filtering-form {
    max-width: 286px;
    right: -104px;
  }
  .filtering-form__content-wrapper {
    max-width: 190px;
  }
  .filtering-form__content-wrapper {
    flex-wrap: nowrap;
    max-height: 1000px;
    min-width: 287px;
  }
  .footer__subscribe {
    cursor: pointer !important;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo-hrd {
    width: 99px;
  }
  .top__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .top__slogan {
    font-size: 16px;
    text-align: center;
  }
  .top__link {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading {
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  .for__item {
    font-size: 28px;
    line-height: 34px;
    grid-column: 1/-1;
    height: 375px;
  }
  .for__item_big {
    height: 244px;
  }
  .product {
    width: 100%;
  }
  .product__unit {
    width: 100%;
    height: 226px;
    font-size: 18px;
    line-height: 22px;
  }
  .product__price {
    line-height: 22px;
    font-size: 18px;
  }
  .product__description {
    line-height: 17px;
    font-size: 14px;
  }
  .footer-background {
    margin-top: 32px;
  }
  .footer {
    justify-content: center;
    gap: 70px 100px;
  }
  .footer__info {
    gap: 100px;
  }
  .footer__subscribe {
    justify-content: center;
  }
  .position__unit {
    font-size: 14px;
  }
  .filters, .filters-2 {
    font-size: 14px;
    line-height: 17px;
  }
  option {
    background-color: transparent;
  }
  .catalog-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10;
    padding: 0px;
  }
  .cart-item__img {
    display: none;
  }
  .cart-item__price {
    font-size: 12px;
    line-height: 15px;
  }
  .cart-item__text {
    font-size: 12px;
    line-height: 15px;
  }
  .cart-item__title {
    font-size: 18px;
    line-height: 22px;
  }
  .product__name {
    font-size: 18px;
    line-height: 22px;
  }
  .interaction {
    flex-direction: column;
  }
  .filters, .filters-2 {
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: 14px;
    line-height: 17px;
  }
  .filters_mob {
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    display: block;
    width: 227px;
    font-weight: 400;
  }
  .filters-2 {
    display: none;
  }
  .filters-1:hover, .filters-2:hover {
    background-color: black;
    color: white;
  }
  option {
    background-color: transparent;
  }
  .interaction {
    padding-top: 14px;
  }
  .cart__form {
    max-width: 343px;
  }
  .buttons {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
  }
  .buttons__clear {
    width: 166px;
    height: 37px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
  }
  .buttons__continue {
    width: 163px;
    height: 37px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
    color: #000;
  }
}/*# sourceMappingURL=style.css.map */