@media (max-width: 1024px) {

    .filtering-form {
          right: -234px;}

    .footer__subscribe {
        cursor: pointer !important;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px)
    }

    .for {
        &__item {
            height: 268px;
        }
    }

    .product {
        width: 378px;
        }

    .catalog-box {
        gap: 30px;
        }
    .product__unit {
        width: 378px;
    }
    .logo-footer {
        display: none;}

    .cart {
        display: flex;
        flex-direction: column;
        &__form {
            width: 376px;
            height: 556px;
        }
    }
    .special-offers {gap: 29px;}
}

@media (max-width: 833px) {

    .footer__subscribe {
        cursor: pointer !important;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
}